@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@400;700&display=swap');

.nodesto,
.dnd5e .form-header,
.dnd5e.sheet .sheet-header,
.dnd5e.sheet .sheet-navigation,
.dnd5e.sheet.actor ul.attributes li.attribute,
.dnd5e.sheet.actor .ability-scores,
.dnd5e.sheet.actor .counters .counter h4,
.dnd5e.sheet.actor .inventory-filters h3,
.dnd5e.sheet.actor .inventory-filters .filter-title,
.dnd5e.chat-card .card-header h3 {
	font-family: "Nodesto", "Signika", "Palatino Linotype", "Do Hyeon", serif;
	word-break: keep-all;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
	font-family: "Signika", "Palatino Linotype", "Noto Sans KR", serif;
	word-break: keep-all;
}

/* Rest buttons in Hit Dice Box */
.dnd5e.sheet.actor.character .sheet-header .attributes a.rest {
	font-size: 10px;
}

/* Resources' Rest labels with checkboxes */
.dnd5e.sheet.actor.character .attributes .resource label.checkbox {
	margin: 0 1px;
	font-size: 6px;
}
