/* Fonts 폰트 */

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Common Styles 공통 스타일 */
:root {
	--dnd5e-font-modesto: "Modesto Condensed", "RIDIBatang", "Palatino Linotype", serif !important;
    --dnd5e-font-roboto: Roboto, "Pretendard-Regular", sans-serif !important;
    --dnd5e-font-roboto-condensed: "Roboto Condensed", "Pretendard-Regular", sans-serif !important;
    --dnd5e-font-roboto-slab: "Roboto Slab", "RIDIBatang", serif !important;
}